.links,
.navbar {
  display: flex;
  gap: 100px;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar {
  z-index: 23123123213213;
}

.links {
  padding: 24px 60px;
  border-radius: 8px;
  background: linear-gradient(
    308deg,
    rgba(64, 64, 64, 0.17) 0%,
    rgba(64, 64, 64, 0.09) 100%
  );
  backdrop-filter: blur(50px);
  max-height: 64px;
}
.logo {
  border-radius: 8px;
  border: 1px solid #353535;
  padding: 19px 60px;
}
.navbar,
.navbarMobile {
  position: relative;
  top: 0;
  width: 100%;
  border-radius: 8px;
  backdrop-filter: blur(50px);
  gap: 8px;
}
.navbar a,
.mobileLinks a {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.navbar a:hover,
.mobileLinks a:hover {
  color: #14c585;
}

.headSetIcon {
  font-size: 20px;
}

.authButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navWrapperOpen,
.navWrapperClosed {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #000000;
  z-index: 21474836471;
}
.navWrapperClosed {
  height: 0;
}
.mobileNavHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.mobileLinksWrapper {
  position: relative;
}
.mobileLinks {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.product {
  position: relative;
}
.product h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.product:hover h6 {
  color: #00d085;
}
.product h6 .dropDownIcon {
  rotate: 0deg;
  transition: 0.3s;
}
.product:hover h6 .dropDownIcon {
  rotate: 180deg;
}
.product:hover .productLinks {
  opacity: 1;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productLinks {
  gap: 30px;
  animation: showDropDown 1s ease;
  opacity: 0;
  display: none;
  max-height: 0px;
  position: absolute;
  padding: 25px;
  border-radius: 8px;
  background-color: rgb(15, 15, 15);
  backdrop-filter: blur(50px);

  z-index: 10;
  transition: 1s;
  width: 100%;
}
.productLink {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}
.productLink a {
  flex-shrink: 0;
}
.product:hover .productNoLinksWrapper {
  display: block;
}
.productNoLinksWrapper {
  display: none;
}
.product:hover .productLinks {
  opacity: 1;
  max-height: 500px;
  display: grid;
}
.productLinksWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  transition: 0.3s;
}
/* Mbile drop down */
.productMobileDisActive,
.productMobileActive {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
}
.productMobileActive {
  color: #00d085;
  transition: 0.3s;
}
.productMobileDisActive .dropDownIcon {
  rotate: 0deg;
  transition: 0.3s;
}
.productMobileActive .dropDownIcon {
  rotate: 180deg;
  transition: 0.3s;
}
/* End mobile drop down */
.productLinksMobile {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 30px;
  transition: 0.3s;
}
.productLinksMobile p {
  transition: 0.3s;

  font-size: 14px;
  font-weight: 400;
  opacity: 0;
  animation: fadeInAnimation 0.3s ease-in-out forwards;
}
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loginButton:nth-child(2) {
  border-radius: 3px;
  border: 1px solid #02341f;
  background: #000601;
  backdrop-filter: blur(30.5px);
  padding: 14px 32px;
  transition: 0.3s;
}
.loginButton:nth-child(2):hover {
  border: 1px solid hwb(155 1% 80%);
  background: #02341f;
  backdrop-filter: blur(30.5px);
  color: #00d085;
}
.logoImage {
  width: 100%;
  height: 100%;
}
/* ---------- Hamburger Styles ---------- */
.hamburger,
.hamburgerActive {
  position: relative;
  z-index: 10;
  cursor: pointer;
  display: block;
}
.hamburger span,
.hamburgerActive span {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.hamburger span:nth-child(2) {
  width: 60%;
  transform: translateX(10px);
}
.hamburgerActive span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}
.hamburgerActive span:nth-child(2) {
  opacity: 0;
}
.hamburgerActive span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
/* Auth Buttons*/
.loginWrapper {
  border-radius: 8px;
  border: 1px solid #353535;
  width: 174px;
  height: 62px;
  background-color: transparent;
  transition: 0.3s;
}
@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}
/* Contact button */
.contactButton {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  justify-content: center;
  width: 185px;
  height: 62px;
  position: relative;
  background-color: transparent;
  --angle: 90deg; /* Define the angle variable */
  animation: borderRotate 2500ms linear infinite forwards;
  /* Use the angle variable in the border-image */
  border-image: conic-gradient(
      from var(--angle),
      rgba(168, 239, 255, 0.1),
      rgb(1, 182, 106) 0.1turn,
      rgb(7, 249, 200) 0.15turn,
      rgba(168, 239, 255, 0.1) 0.25turn
    )
    30;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg; /* Change the value of the angle variable */
  }
}
/* ---------- Hamburger Styles ---------- */
@media screen and (max-width: 1369px) {
  .logo {
    border-radius: 8px;
    border: unset;
    padding: 0px;
  }
}
@media screen and (max-width: 1247px) {
  .links,
  .navbar {
    gap: 20px;
  }
}
@media screen and (max-width: 1042px) {
  .authButtons {
    gap: 5px;
  }
  .loginWrapper {
    white-space: nowrap;
  }
}
@media screen and (max-width: 991px) {
  .productLinks {
    left: -150px;
  }
  .mobileLinks {
    animation: showDropDown 2s;
  }
}
@media screen and (max-width: 576px) {
  .productLinks {
    padding: 15px;
    width: max-content;
    left: 0;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }
}
@keyframes showDropDown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
