.textWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 6rem;
}

.textWrapper h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 3.188rem;
  max-width: 550px;

  background: var(
    --linear-gradient,
    linear-gradient(180deg, #f6f6f7 0%, #7e808f 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textWrapper h5 {
  max-width: 529px;
  margin-left: auto;
  color: #d8d8d8;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5rem;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 15px;
}

.cardsGrid > div:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}

.cardsGrid > div:nth-of-type(1) .cardHead {
  min-height: 441px;
}

.cardHead {
  border-radius: 8px;
  width: 100%;
  min-height: 180px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.joinBtn {
  border-radius: 8px;
  background: var(--green-color);
  padding: 0.625rem 1.563rem;
  border: none;

  cursor: pointer;
  color: #000;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
  transition: 0.3s ease all;
}

.joinBtn:hover {
  color: var(--white-color);
  background: rgba(0, 0, 0, 0.8);
}

.cardTop {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cardTop p {
  font-weight: 400;
  opacity: 0.8;
  margin-block: 12px 8px;
}

.cardBody > p {
  margin-top: 8px;
  font-weight: 400;
  opacity: 0.8;
}

@media screen and (max-width: 991px) {
  .cardsGrid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  .textWrapper {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .textWrapper h1,
  .textWrapper h5 {
    max-width: unset;
  }
}

@media screen and (max-width: 576px) {
  .cardsGrid {
    grid-template-columns: 1fr;
  }

  .cardsGrid > div:nth-of-type(1) {
    grid-row: unset;
    grid-column: unset;
  }

  .cardsGrid > div:nth-of-type(1) .cardHead {
    min-height: 180px;
  }

  .cardBody > p {
    display: none;
  }
}
